@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');
@import url('../../host-mf/src/blocks/page/page.css');
@import url('../../common-mf/src/blocks/header/header.css');
@import url('../../host-mf/src/blocks/content/content.css');
@import url('../../common-mf/src/blocks/footer/footer.css');
@import url('../../profile-mf/src/blocks/profile/profile.css');
@import url('../../images-mf/src/blocks/places/places.css');
@import url('../../images-mf/src/blocks/card/card.css');
@import url('../../common-mf/src/blocks/popup/popup.css');
@import url('../../common-mf/src/blocks/popup/_is-opened/popup_is-opened.css');
@import url('../../auth-mf/src/blocks/auth-form/auth-form.css');

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

